html{
    box-sizing: border-box;
}
*, *:before,*:after{
    box-sizing: border-box;
    outline: none;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    height: 100vh;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 140px;
    width: 140px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -90px;
    top: 80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -90px;
    bottom: 60px;
}
.alarm-clock {
    position: relative;
    padding: 17px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color:rgba(128, 128, 128, 0.082);
  }
  .alarm-clock .date {
    position: absolute;
    bottom: 1px;
    left: 50%;
   background-color: rgba(230, 11, 11, 0.27);
    padding: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    transform: translateX(-50%);
    z-index: 9;
  }
  .alarm-clock .time {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px 15px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    font-family: "Orbitron", sans-serif;
    font-size: 62px;
  }
  .alarm-clock .time span {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #09ecf8;
    text-shadow: 0 0 15px #375f08;
    line-height: 1.75;
    margin-bottom: 10px;
}
.alarm-clock .time span:nth-of-type(5) {
  width: 90px;
}
.alarm-clock .time span.colon {
  width: 14px;
  padding: 15px;
  text-align: center;
  animation: blink 2s infinite;

}

@keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}